$background: #fff;
$border: #000;
$btn-background: #fff;
$btn-background-hover: #fcf9f9;
$btn-background-disabled: #d3cbcb;
$btn-text: #000;

body {
  background-color: $background;
}

.game {
  max-width: 1024px;
  margin: 0 auto;
}

.game-field {
  margin: 0 auto;
}

button {
  float: right;
  background-color: $btn-background;
  color: $btn-text;
  border: 1px solid $border;
  bottom: 0;
  height: 30px;
  font-size: 14px;
  width: 100px;
  margin-top: 10px;
  cursor: pointer;

  &:last-child {
    margin-right: 5px;
  }

  &:hover {
    background-color: $btn-background-hover;
  }

  &:disabled {
    background-color: $btn-background-disabled;
  }
}

.control {
  width: 400px;

  span {
    float: left;
    display: block;
    margin: 20px 0 5px;
    text-transform: uppercase;
  }
}



