body {
  background-color: #9acc99; }

.game {
  max-width: 1024px;
  margin: 0 auto; }

.game-field {
  margin: 0 auto; }

button {
  float: right;
  background-color: #9acc99;
  color: #000;
  border: 1px solid #000;
  bottom: 0;
  height: 30px;
  font-size: 14px;
  width: 100px;
  margin-top: 10px;
  cursor: pointer; }
  button:last-child {
    margin-right: 5px; }
  button:hover {
    background-color: #94bf85; }
  button:disabled {
    background-color: #94bf85; }

.control {
  width: 350px;
  margin: 0 auto; }
  .control span {
    float: left;
    display: block;
    margin: 20px 0 5px;
    text-transform: uppercase; }
